<% if params[:locale] == "en" %>
  <p class="h2">About This Page</p>
  <p>This site moderate by XDF(XrossDisc Federation)</p>
  <p>This site's time zone is JST(UTC+9:00)</p>
<% else %>
  <p class="h2">About This Page</p>
  <p>このサイトは「XDF（クロスディスク連盟）」によって運営されています。</p>
  <p>時刻はすべてJST(UTC+9:00)で表示されています。</p>
<% end %>