<% if params[:locale] == "en" %>
  <div style="text-align: center;">
    <p class="h1">Welcome to R3 Log!</p>
    <p>This site has match logs in "XrossDisc R3" in the VRChat game world. You can check stats in fellowship.</p>
    <br>
    <p class="h2">How to Record match log</p>
    <p>Just play a match in fellowship and it's automatically recorded.</p>
    <br>
    <a class="nav-link" href="/about">About</a>
    <% #<p class="h2">このサイトの見方</p> %>
    <% #ここにサイトの見方を書く %>
  </div>
<% else %>
  <div style="text-align: center;">
    <p class="h1">R3 Logへようこそ！</p>
    <p>このサイトではVRChat上のゲームワールド「XrossDisc R3」で行われている集会「交流会」での戦績を確認できるサイトです！</p>
    <br>
    <p class="h2">記録方法</p>
    <p>集会に行って試合をするだけで自動で記録されます。</p>
    <br>
    <a class="nav-link" href="/about">About</a>
    <% #<p class="h2">このサイトの見方</p> %>
    <% #ここにサイトの見方を書く %>
  </div>
<% end %>