<div style="text-align: center;">
    <p class="h1">R3 Logへようこそ！</p>
    <p>このサイトではVRChat上のゲームワールド「XrossDisc R3」で行われている集会「交流会」での戦績を確認できるサイトです！</p>
    <br>
    <p class="h2">記録方法</p>
    <p>集会に行って試合をするだけで自動で記録されます。</p>
    <br>
    <p class="h2">このサイトの見方</p>
    <% #ここにサイトの見方を書く %>
</div>